<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Examples for MV* frameworks</title>
    <link rel="stylesheet" href="styles/foundation.css">
    <link rel="stylesheet" href="styles/app.css">
</head>
<body class="row collapse" id="body">
    <div class="container columns small-4">
        <section class="app backbone-app">
            <header>
                <h1>BB TODOs</h1>
            </header>
            <input class="new-todo" placeholder="What needs to be done?" autofocus>
            <ul class="todo-list">
            </ul>
            <footer>
            </footer>
        </section>
        <script type="text/template" id="backbone-item-template">
            <div class="view">
                <input class="toggle" type="checkbox" <%= completed ? 'checked': '' %>>
                <span class="checkbox-icon"></span>
                <label><%- title %></label>
                <button class="remove"><span class="sr-only">Remove</span></button>
            </div>
            <div class="edit">
                <input type="text" class="editor" value="<%- title %>">
            </div>
        </script>
        <script type="text/template" id="backbone-footer-template">
            <span class="todo-count"><%= remaining %> <%= remaining === 1 ? 'item' : 'items' %> left</span>
            <ul class="filters">
                <li><a class="selected" href="#/">All</a></li>
                <li><a href="#/active">Active</a></li>
                <li><a href="#/completed">Completed</a></li>
            </ul>
        </script>
    </div>
    <div class="container columns small-4">
        <section class="app knockout-app">
            <header>
                <h1>KO TODOs</h1>
            </header>
            <input class="new-todo" placeholder="What needs to be done?"
                   data-bind="value: currentTitle, valueUpdate: 'afterkeydown', enterKey: create" autofocus>
            <ul class="todo-list" data-bind="visible: toDoCollectionViewModel().length, foreach: toDoCollectionViewModel">
                <li data-bind="css: { completed: toDoItem.completed, editing: editing, hidden: isHidden }, template: { name: 'knockout-item-template', data: $data }"></li>
            </ul>
            <footer data-bind="visible: toDoCollectionViewModel().length">
                <span class="todo-count" data-bind="text: remainingLabel"></span>
                <ul class="filters">
                    <li><a data-bind="css: { selected: filter() == '' }" href="#/">All</a></li>
                    <li><a data-bind="css: { selected: filter() == 'active' }" href="#/active">Active</a></li>
                    <li><a data-bind="css: { selected: filter() == 'completed' }" href="#/completed">Completed</a></li>
                </ul>
            </footer>
        </section>
        <script type="text/template" id="knockout-item-template">
            <div class="view">
                <input class="toggle" type="checkbox" data-bind="checked: toDoItem.completed">
                <span class="checkbox-icon"></span>
                <label data-bind="text: toDoItem.title, event: { dblclick: edit }"></label>
                <button class="remove" data-bind="click: destroy"><span class="sr-only">Remove</span></button>
            </div>
            <div class="edit">
                <input type="text" class="editor" data-bind="value: toDoItem.title, valueUpdate: 'afterkeydown', selectAndFocus: editing, enterKey: update, escapeKey: revert, event: { blur: update }">
            </div>
        </script>
    </div>
    <div class="container columns small-4" ng-app="ToDoAngular">
        <section class="app" ng-view></section>
        <script type="text/ng-template" id="angular-app-template.html">
            <header>
                <h1>NG TODOs</h1>
            </header>
            <input class="new-todo" placeholder="What needs to be done?" ng-model="currentTitle"
                   autofocus enter-handler="create()">
            <ul class="todo-list">
                <li ng-repeat="toDoViewModel in toDoCollection"
                    to-do-item="toDoViewModel"></li>
            </ul>
            <footer>
                <span class="todo-count" ng-bind="remainingLabel"></span>
                <ul class="filters">
                    <li><a ng-class="{ selected: filterString === '' }" href="#/">All</a></li>
                    <li><a ng-class="{ selected: filterString === 'active' }" href="#/active">Active</a></li>
                    <li><a ng-class="{ selected: filterString === 'completed' }" href="#/completed">Completed</a></li>
                </ul>
            </footer>
        </script>
        <script type="text/ng-template" id="angular-item-template.html">
            <div class="view">
                <input class="toggle" type="checkbox" ng-model="itemViewModel.toDoItem.completed">
                <span class="checkbox-icon"></span>
                <label ng-bind="itemViewModel.toDoItem.title" ng-dblclick="edit()"></label>
                <button class="remove" ng-click="destroy()"><span class="sr-only">Remove</span></button>
            </div>
            <div class="edit">
                <input type="text" class="editor" ng-model="itemViewModel.toDoItem.title"
                    select-and-focus="editing" enter-handler="update()" esc-handler="revert()" ng-blur="update()">
            </div>
        </script>
    </div>
    <!-- Common libraries for all framework -->
    <script src="scripts/jquery-2.2.1-src.js"></script>

    <!-- Libraries for Backbone App -->
    <script src="scripts/underscore-1.8.3.src.js"></script>
    <script src="scripts/backbone-1.3.1-src.js"></script>
    <script src="scripts/backbone.localStorage-1.1.16-src.js"></script>
    <script src="scripts/backbone-app.js"></script>

    <!-- Libraries for Knockout App -->
    <script src="scripts/knockout-3.4.0-src.js"></script>
    <script src="scripts/director-1.2.6-src.js"></script>
    <script src="scripts/knockout-app.js"></script>

    <!-- Libraries for Angular App -->
    <script src="scripts/angular-1.5.0-src.js"></script>
    <script src="scripts/angular-route-1.5.0-src.js"></script>
    <script src="scripts/angular-app.js"></script>
</body>
</html>
